.linkBox {
    list-style: none;
    font-size: 20px;

    a {
        color: inherit;
        &:hover {
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 456px) {
    .linkBox {
        height: 25px;
    }
}
