.btn {
    cursor: pointer !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    justify-items: flex-start !important;
    width: 350px !important;
    height: 60px !important;
    border-radius: 8px !important;

    p {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
    }

    .img {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    &:active {
        background-color: var(--white-900) !important;
        transform: scale(0.98);
        box-shadow: 20px 20px 22px 20px rgba(0, 0, 0, 0.24);
    }
}

.light {
    color: var(--white-900) !important;
    background-color: var(--purple-900) !important;
}
